{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Cadastrar Aviso</h2>
    <form method="POST">
        

        <div class="form-group">
            <label for="aviso">Aviso *</label>
            <textarea name="aviso" id="aviso" class="form-control" rows="4" required></textarea>
        </div>

        <div class="form-group">
            <label for="data">Data *</label>
            <input type="date" name="data" id="data" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
