{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Cadastrar Compliance</h2>

    <form action="{{ url_for('compliance.cadastrar_compliance') }}" method="POST" enctype="multipart/form-data" class="form-grid">
         <!-- Nome da política -->
        <div class="form-group">
            <label for="titulo">Nome do arquivo/site: <span class="required">*</span></label>
            <input type="text" id="titulo" name="titulo" placeholder="Nome do arquivo/site:" required>
        </div>

        <!-- Descrição -->
        <div class="form-group">
            <label for="descricao">Breve descrição: <span class="required">*</span></label>
            <textarea id="descricao" name="descricao" placeholder="Descrição da política" required></textarea>
        </div>

        <!-- Ícone -->
        <div class="form-group">
            <label for="icone">Ícone PNG:</label>
            <input type="file" id="icone" name="icone" accept="image/png">
        </div>

        <!-- Link -->
        <div class="form-group mb-3">
            <label for="link_compliance">Link da Compliance (opcional)</label>
            <input type="url" name="link_compliance" id="link_compliance" class="form-control" placeholder="https://exemplo.com/documento">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a href="{{ url_for('compliance.listar_compliance') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
