{% extends "base.html" %}
{% block content %}

<div class="container text-center mt-5">
    <h1 class="card-title fw-bold mb-3">{{ processo.titulo }}</h1>
    <h4 class="card-text">{{ processo.descricao }} </h4>

    <div class="cards-container">
        {% if processo.link_its %}
        <div class="card shadow-sm" style="width: 200px; border-radius: 15px;">
            <div class="card-body">
                <a href="{{ processo.link_its }}" class="btn btn-light w-100 py-3 border shadow-sm">
                    <img src="{{ url_for('static', filename='img/icon_it.png') }}" width="40" class="mb-2"><br>
                    Instruções de Trabalho
                </a>
            </div>
        </div>
        {% endif %}

        {% if processo.link_manual %}
        <div class="card shadow-sm" style="width: 200px; border-radius: 15px;">
            <div class="card-body">
                <a href="{{ processo.link_manual }}" class="btn btn-light w-100 py-3 border shadow-sm">
                    <img src="{{ url_for('static', filename='img/icon_manual.png') }}" width="40" class="mb-2"><br>
                    Manual do Processo
                </a>
            </div>
        </div>
        {% endif %}

        {% if processo.link_politicas %}
        <div class="card shadow-sm" style="width: 200px; border-radius: 15px;">
            <div class="card-body">
                <a href="{{ processo.link_politicas }}" class="btn btn-light w-100 py-3 border shadow-sm">
                    <img src="{{ url_for('static', filename='img/politicas.png') }}" width="40" class="mb-2"><br>
                    Políticas
                </a>
            </div>
        </div>
        {% endif %}

       
        {% if processo.outros_links %}
        <div class="card shadow-sm" style="width: 200px; border-radius: 15px;">
            <div class="card-body">
                <a href="{{ processo.outros_links.strip() }}" class="btn btn-light w-100 py-3 border shadow-sm">
                    <img src="{{ url_for('static', filename='img/outros.png') }}" width="40" class="mb-2"><br>
                    Outros Links
                </a>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
