{% extends "base.html" %}
{% block content %}
<main>
    <div class="home-container">
        <h1 class="home-title">Portal MCM</h1>
        <p class="home-description">Colocar uma breve descrição do sistema</p>

        <div class="card-container">
            <a href="avisos.html" class="card">
                <img src="{{ url_for('static', filename='img/icon_avisos.png') }}" alt="Avisos" style="width:80px;">
                <br>Avisos
            </a>

            <a href="{{ url_for('compliance.listar_compliance') }}" class="card">
                <img src="{{ url_for('static', filename='img/compliance.png') }}" alt="Compliance" style="width:80px;">
                <br>Compliance
            </a>

            <a href="{{ url_for('politicas.listar_politicas') }}" class="card">
                <img src="{{ url_for('static', filename='img/politicas.png') }}" alt="Políticas" style="width:80px;">
                <br>Políticas
            </a>

            <a href="{{ url_for('processos.listar_processos') }}" class="card">
                <img src="{{ url_for('static', filename='img/processos.png') }}" alt="Processos" style="width:80px;">
                <br>Processos
            </a>

            <a href="https://talentosmcm.vagas.solides.com.br/?page=1" class="card">
                <img src="{{ url_for('static', filename='img/vagas.png') }}" alt="Vagas" style="width:80px;">
                <br>Vagas
            </a>

        </div>

        <!-- Seção de Avisos -->
        <section class="avisos">
            <h2 class="avisos-titulo">Avisos</h2>
            <div class="aviso-item">
                <p>Publicação processo de Adm da Casa</p>
                <span class="data">25/08/2025</span>
            </div>
            <div class="aviso-item">
                <p>Publicação processo de Garantia.</p>
                <span class="data">08/07/2025</span>
            </div>
            <div class="aviso-item">
                <p>Publicação processo de Estoque</p>
                <span class="data">30/06/2025</span>
            </div>
        </section>
    </div>
</main>
{% endblock %}
