{% extends "base.html" %}
{% block content %}
<div class="home-container">
    <h1>Políticas </h1>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('politicas.cadastrar_politica') }}" class="card">➕ Cadastrar Política</a>
    {% endif %}
    

    <div class="card-container">
        {% for p in politicas %}
            <div class="card">
                <!-- Link da política -->
                <a href="{{ p.link }}" target="_blank" class="card-link">
                    {% if p.icone %}
                        <img src="{{ p.icone }}" alt="{{ p.titulo }}" style="width:80px; margin-bottom:10px;">
                    {% endif %}
                    <h3>{{ p.titulo }}</h3>
                </a>

                <!-- Botão de edição -->
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('politicas.editar_politica', id=p.id) }}" class="edit-btn" title="Editar">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                {% endif %}
            </div>
        {% else %}
            <p>Nenhuma política cadastrada.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
